<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="song.tool.mapper.InfoMapper">
    <insert id="addInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `info`(`summary`, `patient_name`, `need_callback`, `callback_date`, `sex`, `remarks`, `create_date`, `create_user_code`) VALUE (#{info.summary}, #{info.patientName}, #{info.needCallback}, #{info.callbackDate}, #{info.sex}, #{info.remarks}, #{info.createDate}, #{info.createUserCode});

    </insert>
    <update id="unUseInfo">
        update info set need_callback = '0' where id = #{id}
    </update>
    <select id="queryInfoByVo" resultType="song.tool.pojo.Info">
        select * from info where 1=1
        <if test="@com.alibaba.common.lang.StringUtil@isNotBlank(infoVO.patientName)">
            and patient_name like concat('%',#{infoVO.patientName},'%')
        </if>
        <if test="@com.alibaba.common.lang.StringUtil@isNotBlank(infoVO.needCallback)">
            and need_callback = #{infoVO.needCallback}
        </if>
        <if test="@com.alibaba.common.lang.StringUtil@isNotBlank(infoVO.sex)">
            and sex = #{infoVO.sex}
        </if>
        <if test="@com.alibaba.common.lang.StringUtil@isNotBlank(infoVO.summary)">
            and summary like concat('%',#{infoVO.summary},'%')
        </if>
        order by callback_date asc
    </select>
</mapper>